@font-face {
    font-family: 'Noto Sans NKo WF';
    src: url('webfonts/notosansnko-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans NKo Unjoined WF';
    src: url('webfonts/notosansnkounjoined-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans NKo Unjoined WF';
    src: url('webfonts/notosansnkounjoined-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
	}

[lang=nqo] { 
    font-family: 'Noto Sans NKo WF', serif;
    font-size: 200%;
    }











