@font-face {
    font-family: 'Noto Sans NKo WF';
    src: local('Noto Sans NKo'),
         url('../../shared/webfonts/notosansnko-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=nqo] { 
    font-family: 'Noto Serif Gurmukhi WF', serif;
    font-size: 200%;
    }




h2 {
	margin-top: 4em !important;
	margin-bottom: 0em !important;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0 !important;
	}
h3 {
	margin-top: 3em !important;
	}
h4  { 
	font-size: 100%; 
    font-weight: normal; 
    color: #005a9c; 
    margin-top: 2em;  
    }
.leadin {
	font-weight: bold;
	}

ins { 
	background-color: #99FF99; 
	text-decoration: none; 
	}
del { 
	display: inline; 
	color: silver; 
	}

figure { 
	margin-bottom: 2em; 
	text-align: center;
	}
figcaption {
	 text-align: center;
	margin: 0.5em 2em;
	font-style: italic;
	font-size: 90%;
	}
figcaption .figno:after {
	content: ':\00A0  ';
}

a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}

.qterm:before, .qchar:before { content: "'"; }
.qterm:after, .qchar:after { content: "'"; }
.quote:before { content: '"'; }
.quote:after { content: '"'; }
code { 
	color: #A52A2A; 
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
samp, kbd { 
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
.uname {
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing:0.03em;
	}
.prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
}

.large {
    font-size: 300%;
    }
.trans, .transc, .ipa {
    font-family: "GentiumPlus", serif;
    font-style: italic;
    }
.ipa:before {
    content:" /";
}
.ipa:after {
    content:"/";
}
.transc:before {
    content:" ‹";
}
.transc:after {
    content:"›";
}
.trans:before {
    content:" ‹";
}
.trans:after {
    content:"›";
}
.meaning:before {
    content:" ‘";
}
.meaning:after {
    content:"’";
}
.reviewme:after {
	content: "Needs review";
	margin-left: 2em;
	background-color: crimson;
	color: white;
	font-size: 80%;
	padding: .2em .4em;
	border-radius: .2em;
	}


figure summary {
    font-weight: normal;
    font-size: 80%;
    font-style: italic;
    }



.codepoint bdi {
    font-size: 130%;
    margin-inline: 0.5em;
    }

.codepoint img {
    vertical-align:middle;
    width:2rem; height:2rem;
    margin: 0;
    }

.codepoint .uname {
	font-size: 80%;
	letter-spacing: 0.03em;
	color: teal;
    font-family: Menlo, monospace;
    }



.reflink {
    vertical-align: super;
    font-size: 70%;
    }


.figureSub {
    margin-block-start: -2rem;
    margin-block-end: 3rem;
    text-align: center;
    }
.figureSub summary {
    font-weight: normal;
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    }










