@font-face {
    font-family: 'Noto Sans NKo WF';
    src: local('Noto Sans NKo'),
         url('../../shared/webfonts/notosansnko-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=nqo] { 
    font-family: 'Noto Serif Gurmukhi WF', serif;
    font-size: 200%;
    }


.prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
	}

.large {
    font-size: 300%;
    }
.trans, .transc, .ipa {
    font-family: "GentiumPlus", serif;
    font-style: italic;
    }
.ipa:before {
    content:" /";
	}
.ipa:after {
    content:"/";
	}
.transc:before {
    content:" ‹";
	}
.transc:after {
    content:"›";
	}
.trans:before {
    content:" ‹";
	}
.trans:after {
    content:"›";
	}
.meaning:before {
    content:" ‘";
	}
.meaning:after {
    content:"’";
	}


.reviewme:after {
	content: "Needs review";
	margin-left: 2em;
	background-color: crimson;
	color: white;
	font-size: 80%;
	padding: .2em .4em;
	border-radius: .2em;
	}


figure summary {
    font-weight: normal;
    font-size: 80%;
    font-style: italic;
    }



.codepoint bdi {
    font-size: 130%;
    margin-inline: 0.5em;
    }

.codepoint img {
    vertical-align:middle;
    width:2rem; height:2rem;
    margin: 0;
    }

.codepoint .uname {
	font-size: 80%;
	letter-spacing: 0.03em;
	color: teal;
    font-family: Menlo, monospace;
    }



.reflink {
    vertical-align: super;
    font-size: 70%;
    }


.figureSub {
    margin-block-start: -2rem;
    margin-block-end: 3rem;
    text-align: center;
    }
.figureSub summary {
    font-weight: normal;
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    }










